@keyframes pulse {
  0% { opacity: 0.2; }
  33% { opacity: 0.6; }
  66% { opacity: 0.2; }
  100% { opacity: 0.2; }
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(1px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-2px, 0, 0); }
  40%, 60% { transform: translate3d(2px, 0, 0); }
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  align-items: center;
  background-color: #313332;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Muli, sans-serif;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin: 0;
  padding: 20px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
}

header,
form {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

h1 {
  color: #5CE6A1;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 0;
}

header p {
  color: #F5FAF7;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 12px;
}

.shop {
  display: block;
  margin-top: 40px;
  max-width: 100%;
}

form {
  animation: none;
  display: flex;
  margin-top: 40px;
  position: relative;
  transform: translate3d(0,0,0);
}

form[data-error] {
  animation: shake 0.5s 0.3s cubic-bezier(.36,.07,.19,.97) both;
}

button,
[type="email"] {
  font: inherit;
  padding: 11px 10px;
}

button {
  background-color: #52CC8F;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

button:not([disabled]):hover,
button:not([disabled]):focus {
  background-color: #5CE6A1;
}

form:not([data-success]) button[disabled] {
  cursor: progress;
}

form[data-success] button {
  cursor: default;
}

.dots,
.tick {
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all 0.3s ease-in;
  width: 100%;
}

.dots {
  height: 10px;
  margin-top: -5px;
}

.dots span {
  animation: pulse 0.9s infinite;
  background-color: #FFF;
  height: 10px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.2;
  width: 10px;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

button:not([disabled]) .dots {
  transform: translateX(-100%);
}

form:not([data-success]) button[disabled] .dots {
  opacity: 1;
  transition: all 0.3s ease-out;
}

form[data-success] .dots {
  transform: translateX(100%);
}

.tick {
  height: 15px;
  margin-top: -7px;
}

.tick svg {
  height: 15px;
  width: 19px;
}

button:not([disabled]) .tick {
  transform: translateX(-200%);
}

form:not([data-success]) button[disabled] .tick {
  transform: translateX(-100%);
}

form[data-success] .tick {
  opacity: 1;
}

.text {
  display: block;
  transition: all 0.3s ease-out;
  transform: translateX(0px);
}

button[disabled] .text {
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateX(calc(100% + 20px));
}

[type="email"] {
  border: none;
  color: #313332;
  flex-grow: 1;
  white-space: nowrap;
}

::placeholder {
  color: #79807C;
}

@media screen and (max-width: 379px) {
  form {
    flex-direction: column;
  }

  button {
    margin-top: 5px;
  }
}

@media screen and (min-width: 380px) {
  button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 449px) {
  header {
    max-width: 240px;
  }
}

@media screen and (min-width: 450px) {
  body {
    font-size: 16px;
    padding: 60px 20px;
  }

  h1 {
    font-size: 24px;
  }

  header p {
    font-size: 18px;
  }

  .shop,
  form {
    margin-top: 60px;
  }

  button,
  [type="email"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  button[disabled] .text {
    transform: translateX(calc(100% + 40px));
  }
}
